@charset "UTF-8";
.main_area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main_area .mailbox_location {
  border-bottom: 1px solid #e7e7e7;
  padding: 2.215rem 3.75rem 0.5rem;
}
@media (max-width: 480px) {
  .main_area .mailbox_location {
    padding: 1rem 2rem 0.5rem;
  }
}
.main_area .mailbox_location > h1 {
  font-size: 17px;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
}
.main_area .mailbox_location > h1::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ff7062;
  position: absolute;
  left: 0;
}
.main_area .mailbox_location > h1 > span {
  margin-left: 10px;
}
.main_area .mailbox_location > h1 > span > span {
  color: #ff7062;
}
.main_area .mail_content {
  flex: 1;
  padding: 2.215rem 3.75rem 0.5rem;
}
@media (max-width: 480px) {
  .main_area .mail_content {
    padding: 1rem 2rem 0.5rem;
  }
}
.main_area .mail_content > ul > li {
  margin-left: 14px;
  margin-top: 6px;
}
.main_area .mail_content > ul > li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: gray; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.main_area .mail_content_read {
  padding: 2.215rem 3.75rem 0.5rem;
  padding: 0 3.75rem 0.5rem !important;
}
@media (max-width: 480px) {
  .main_area .mail_content_read {
    padding: 0 2rem 0.5rem !important;
  }
}
.main_area .foot {
  padding: 2.215rem 3.75rem 0.5rem;
}
@media (max-width: 480px) {
  .main_area .foot {
    padding: 1rem 2rem 0.5rem;
  }
}

.mailbox_bo {
  width: 100%;
}
.mailbox_bo tbody {
  font-size: 14px;
}
@media (max-width: 480px) {
  .mailbox_bo tbody #popmenu {
    height: inherit;
    padding: 10px 0;
  }
}
.mailbox_bo tbody > tr {
  border-top: 1px solid #c1cad1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 480px) {
  .mailbox_bo tbody > tr {
    flex-direction: column;
    gap: inherit;
    gap: 4px;
    height: inherit;
  }
}
.mailbox_bo tbody > tr:first-child {
  border-top: none;
}
.mailbox_bo tbody > tr:nth-of-type(1) {
  border-bottom: 1px solid #c1cad1;
}
.mailbox_bo tbody > tr:last-child {
  border-bottom: 1px solid #c1cad1;
}
.mailbox_bo tbody > tr > td {
  word-break: keep-all;
  height: 50px;
  display: flex;
  align-items: center;
}
.mailbox_bo tbody > tr > td svg {
  cursor: pointer;
}
.mailbox_bo tbody > tr > td > p {
  display: flex;
  align-items: center;
}
.mailbox_bo tbody > tr > td > p > img {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .mailbox_bo tbody > tr > td {
    text-align: left;
  }
}
.mailbox_bo tbody > tr > td:last-child {
  text-align: right;
  min-width: 135px;
}
.mailbox_bo tbody > tr > td input[type=checkbox] {
  margin-right: 10px;
  zoom: 1.2;
}
.mailbox_bo tbody > tr .td_tit {
  display: flex;
}
.mailbox_bo tbody > tr .td_tit > p {
  display: flex;
  align-items: center;
  line-height: 1.8;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mailbox_bo tbody > tr .td_tit > p:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .mailbox_bo tbody .email_li_mo {
    flex-direction: column;
    gap: 4px;
    display: grid;
    grid-template-columns: 60px 1fr;
    padding: 8px 0;
  }
  .mailbox_bo tbody .email_li_mo td {
    height: inherit;
  }
  .mailbox_bo tbody .email_li_mo td:nth-last-of-type(3) {
    grid-column: 1/3;
  }
  .mailbox_bo tbody .email_li_mo td:nth-last-of-type(1) {
    padding-left: 2rem;
  }
}
.mailbox_bo tbody .email_adm {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr 0.1fr 0.1fr 0.1fr 0.2fr 0.1fr 0.1fr;
  justify-content: flex-end;
  align-items: flex-end;
}
.mailbox_bo tbody .email_adm:first-child {
  border-top: 2px solid #464646;
}
.mailbox_bo tbody .email_adm td {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 480px) {
  .mailbox_bo tbody .email_adm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: normal;
    align-items: flex-start;
  }
  .mailbox_bo tbody .email_adm:first-child {
    display: none;
  }
  .mailbox_bo tbody .email_adm td {
    height: 32px;
    text-align: left;
  }
  .mailbox_bo tbody .email_adm .empty {
    display: none;
  }
}

.mail_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 4px;
  cursor: pointer;
}
.mail_pagination > p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c1cad1;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.mail_pagination > p img {
  object-fit: contain;
  height: 12px;
}
.mail_pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.page_num.on {
  color: #4d6ede;
}

.mail_content tr td svg path.on {
  fill: #ff7062;
}

.sort_pop {
  position: relative;
}
.sort_pop .chk_n_bm {
  display: flex;
  align-items: center;
}
.sort_pop .sort_pop_wrap {
  position: relative;
}
.sort_pop .sort_pop_wrap .sort_list {
  margin-top: 10px;
  z-index: 2;
  display: none;
  gap: 16px;
  border: 1px solid #c1cad1;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 18px;
  text-align: left;
  min-width: 80px;
  border-radius: 3px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-out;
}
@media (max-width: 480px) {
  .sort_pop .sort_pop_wrap .sort_list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sort_pop .sort_pop_wrap .sort_list::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 9999px rgba(0, 0, 0, 0.1);
  }
}
.sort_pop .sort_pop_wrap .sort_list li:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #c1cad1;
}
.sort_pop .sort_pop_wrap .sort_list.on {
  display: flex;
}
.sort_pop .sort_pop_wrap_mod {
  gap: 2rem;
  position: absolute;
  left: 36px;
  display: none;
  transition: all 0.1s ease;
}
@media (max-width: 480px) {
  .sort_pop .sort_pop_wrap_mod {
    gap: 16px;
  }
  .sort_pop .sort_pop_wrap_mod .sort_btn_num {
    display: none;
  }
}
.sort_pop .sort_pop_wrap_mod.on {
  display: flex;
  z-index: 2;
}
.sort_pop .smart_mail_btns {
  display: flex;
  gap: 2rem;
}
@media (max-width: 480px) {
  .sort_pop .smart_mail_btns {
    flex-wrap: wrap;
  }
}

.sort_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sort_btn img {
  padding-left: 8px;
  display: inline-block;
}

.sort_pop_wrap.off {
  display: none;
  z-index: -1;
}

.sort_btn_num {
  width: 100px;
  color: #ff7062;
}

.sort_btn_wrap {
  position: relative;
}
.sort_btn_wrap > .sort_list_1 {
  margin-top: 10px;
  z-index: 2;
  display: none;
  gap: 16px;
  border: 1px solid #c1cad1;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 18px;
  text-align: left;
  min-width: 80px;
  border-radius: 3px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-out;
}
@media (max-width: 480px) {
  .sort_btn_wrap > .sort_list_1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sort_btn_wrap > .sort_list_1::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 9999px rgba(0, 0, 0, 0.1);
  }
}
.sort_btn_wrap > .sort_list_1 li:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.sort_btn_wrap > .sort_list_2 {
  margin-top: 10px;
  z-index: 2;
  display: none;
  gap: 16px;
  border: 1px solid #c1cad1;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 18px;
  text-align: left;
  min-width: 80px;
  border-radius: 3px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-out;
  min-width: 120px;
}
@media (max-width: 480px) {
  .sort_btn_wrap > .sort_list_2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sort_btn_wrap > .sort_list_2::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 9999px rgba(0, 0, 0, 0.1);
  }
}
.sort_btn_wrap > .sort_list_2 li:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.sort_btn_wrap .sort_list_1.on,
.sort_btn_wrap .sort_list_2.on {
  display: flex;
  z-index: 1;
}

.new_mail {
  display: flex;
  height: 30px;
}
.new_mail > input[type=text] {
  border-radius: 3px;
  padding: 0 10px;
  border: 1px solid #c1cad1;
  width: 110px;
}
.new_mail > button {
  background-color: transparent;
  border: inherit;
  color: #ff7062;
  font-size: 15px;
  cursor: pointer;
}

.chk_wrap {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .sort_pop_wrap_mod {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.mail_read_wrap .read_hd {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 1rem 0;
  line-height: 1.3;
}
.mail_read_wrap .read_hd > img {
  padding-right: 10px;
}
.mail_read_wrap .mail_date {
  padding-left: 2rem;
}
.mail_read_wrap .mail_auth {
  padding-left: 2rem;
  display: flex;
}
.mail_read_wrap .mail_auth dd {
  margin: 0;
  padding: 0;
}
.mail_read_wrap .attchfile {
  padding-left: 2rem;
  margin: 0;
}
.mail_read_wrap .attchfile dt,
.mail_read_wrap .attchfile dd {
  margin: 0;
  display: flex;
  align-items: center;
}
.mail_read_wrap .content_txt {
  padding-left: 2rem;
  font-size: 14px !important;
}
.mail_read_wrap > hr {
  border: none !important;
  background-color: #c1cad1;
  height: 1px;
  width: 100%;
  margin: 24px 0;
}

.fileLiBtn {
  cursor: pointer;
}

.fileLiBtn.on {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.fileLi.on {
  display: none;
}

.mail_modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  text-align: left;
}
.mail_modal .mail_modal_wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 480px;
  border-radius: 4px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .mail_modal .mail_modal_wrap {
    width: 95%;
  }
}
.mail_modal .mail_modal_wrap .modal_hd {
  width: 100%;
  background-color: #3d435d;
  color: white;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 20px;
}
.mail_modal .mail_modal_wrap .modal_hd img {
  width: 44px;
  padding: 0 1rem;
}
.mail_modal .mail_modal_wrap .madal_body {
  border: 1px solid #eee;
  margin: 1rem;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.mail_modal .mail_modal_wrap .madal_body p {
  padding: 1rem;
  font-size: 14px;
}
.mail_modal .mail_modal_wrap .madal_body .resend_radios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
}
.mail_modal .mail_modal_wrap .madal_body .resend_radios .resend_radio {
  text-align: left;
  padding: 8px 0;
}
.mail_modal .mail_modal_wrap .madal_body .resend_caution {
  color: #999;
  line-height: 1.5;
}
.mail_modal .mail_modal_wrap .modal_btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1rem 0 2rem;
}
.mail_modal .mail_modal_wrap .modal_btns .btn {
  cursor: pointer;
  width: 105px;
  height: 33px;
  background-color: transparent;
  border: none;
  color: white;
  background: #ff7062;
  border-radius: 3px;
}
.mail_modal .mail_modal_wrap .modal_btns .btn:not(:last-child) {
  background-color: #bbb;
}

.mail_modal_mod {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  text-align: center;
}
.mail_modal_mod .mail_modal_wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 480px;
  border-radius: 4px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .mail_modal_mod .mail_modal_wrap {
    width: 95%;
  }
}
.mail_modal_mod .mail_modal_wrap .modal_hd {
  width: 100%;
  background-color: #3d435d;
  color: white;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 20px;
}
.mail_modal_mod .mail_modal_wrap .modal_hd img {
  width: 44px;
  padding: 0 1rem;
}
.mail_modal_mod .mail_modal_wrap .madal_body {
  border: none;
  margin: 1rem;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.mail_modal_mod .mail_modal_wrap .madal_body p {
  padding: 1rem;
  font-size: 14px;
}
.mail_modal_mod .mail_modal_wrap .madal_body .resend_radios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
}
.mail_modal_mod .mail_modal_wrap .madal_body .resend_radios .resend_radio {
  text-align: left;
  padding: 8px 0;
}
.mail_modal_mod .mail_modal_wrap .madal_body .resend_caution {
  color: #999;
  line-height: 1.5;
}
.mail_modal_mod .mail_modal_wrap .modal_btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1rem 0 2rem;
}
.mail_modal_mod .mail_modal_wrap .modal_btns .btn {
  cursor: pointer;
  width: 105px;
  height: 33px;
  background-color: transparent;
  border: none;
  color: white;
  background: #ff7062;
  border-radius: 3px;
}
.mail_modal_mod .mail_modal_wrap .modal_btns .btn:not(:last-child) {
  background-color: #bbb;
}

.mail_modal.on {
  opacity: 1;
  z-index: 1;
}

.mail_modal.on.off {
  opacity: 0;
  z-index: -1;
}

.mail_modal_mod.on {
  opacity: 1;
  z-index: 1;
}

.mail_modal_mod.on.off {
  opacity: 0;
  z-index: -1;
}

.modalClose {
  cursor: pointer;
}

.write_input_wrap {
  margin: 2rem 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.write_input_wrap .write_input {
  display: flex;
  align-items: center;
}
.write_input_wrap .write_input label {
  word-break: keep-all;
  width: 90px;
}
.write_input_wrap .write_input input {
  width: 100%;
  border: 1px solid #c1cad1;
  height: 30px;
  border-radius: 3px;
}
@media (max-width: 480px) {
  .write_input_wrap .write_input input {
    height: 24px;
  }
}
.write_input_wrap .write_input textarea {
  width: 100%;
  border: 1px solid #c1cad1;
  height: 100px;
}
.write_input_wrap .write_input textarea:focus {
  outline: none;
}

.mail_preview {
  border-bottom: 1px solid #eee;
  padding: 1rem;
  margin: 0 auto;
}
.mail_preview h1 {
  font-size: 18px;
}
.mail_preview dl {
  display: flex;
}
.mail_preview dl dt {
  font-weight: 700;
}
.mail_preview dl dd {
  margin: 0;
}

.txt_content {
  margin: 1rem;
  line-height: 1.5;
}

.attfile_area {
  background-color: #eee;
  padding: 0.5rem 2rem;
}
.attfile_area dl {
  display: flex;
}
.attfile_area dl dt {
  font-weight: 700;
}
.attfile_area dl dd {
  margin: 0;
}

.write_options {
  width: 260px;
}
.write_options input[type=checkbox] {
  margin-right: 4px !important;
}
.write_options .wrt_opt {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.write_options .wrt_opt > label {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.write_options .wrt_opt #send_opt_tit {
  display: block;
  display: flex;
  align-items: center;
  margin: 12px 0 8px;
  font-weight: 600;
}
.write_options .wrt_opt .send_opts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
.write_options .wrt_opt .send_opts .send_opt {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  min-width: 150px;
}

.date_time {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.date_time input {
  padding-left: 6px;
  height: 30px;
  width: 100%;
  border: 1px solid #c1cad1;
  border-radius: 4px;
}

.selbox_wrap {
  width: 100%;
  position: relative;
}
.selbox_wrap > select {
  padding-left: 6px;
  height: 30px;
  width: 100%;
  border: 1px solid #c1cad1;
  border-radius: 4px;
}
.selbox_wrap::after {
  font-family: "Material Icons";
  content: "\e313";
  position: absolute;
  bottom: 8px;
  right: 0;
  padding-right: 10px;
}

.opt_submit {
  background-color: transparent;
  border: none;
  margin: 16px 0 0;
  font-weight: 700;
  color: #ff7062;
  cursor: pointer;
}

.trash_coment {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #da1300;
  background-color: #ffe7e7;
  margin-bottom: 2rem;
}

.usage_mail {
  margin: 2rem auto 1.5rem;
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
  word-break: keep-all;
}
@media (max-width: 480px) {
  .usage_mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.usage_mail .usage_current {
  display: flex;
  align-items: center;
  gap: 14px;
}
.usage_mail .usage_current .usage_wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
.usage_mail .usage_current .usage_wrap .chart_wrap .teamCart_outer .usage {
  height: 10px;
  border: 1px solid #ddd;
}
.usage_mail .usage_current .usage_wrap .chart_wrap .teamCart_outer .usage svg {
  width: 100%;
}
.usage_mail .usage_current .usage_wrap .chart_wrap .teamCart_outer .usage svg rect {
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.usage_mail .usage_current .mail_clear {
  color: #ff7062;
}
.usage_mail .new_mailbox input {
  border: 1px solid #c1cad1;
  height: 30px;
  padding-left: 6px;
}
.usage_mail .new_mailbox .mail_clear {
  color: #ff7062;
}

.modalBtn {
  cursor: pointer;
}